<h1>Give us your number!</h1>
<form action='/result' method='get'>
  <div class="form-group">
    <label for="number">Number</label>
    <input id="number" name="number" class="form-control" type="number">
  </div>
  <button type="submit" class="btn btn-success">Show me the words!</button>
</form>
