<h1>Your number is...</h1>
<br>
<h2><%= @number %></h2>
<br>
<hr>
<br>
<p>Here was your original number:</p>
<p><%= @integer %></p>
<br>
<a href="/"><button type="button" class="btn btn-success">Back</button></a>
